<html>
<body>
		<div class="container">
			<div class="fields">
				<div class="region size1of1">
					<h1>Blocks Two-Up</h1>

					<ol class="blocks blocks-two-up">
						<li>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
						</li>
						<li>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
						</li>
						<li>
							<img src="http://placehold.it/464x120" alt="fpo">
						</li>
						<li>
							<img src="http://placehold.it/464x120" alt="fpo">
						</li>
					</ol>
				</div>
			</div>
		</div>
		
	
<div id="debug-panel"><button class="debug-view" data-close="×" data-open="¤">¤</button><ul><li><button data-option="background">Background</button></li><li><button data-option="baseline">Baseline</button></li><li><button data-option="boxes">Boxes</button></li><li><button data-option="grid">Grid</button></li><li><button data-option="windowSize">Window Size</button></li></ul></div>

<%= Html.ButtonLink("Lorem ipsum", "#fpo") %><%= Html.ButtonSubmit("Lorem ipsum", "#fpo") %>

<div class="container">
			<div class="fields">
				<h1 class="region size2of3">
					Promo Layout A
				</h1>
			</div>

			<div class="fields">
				<div class="region size2of3 suffix1of3">
					<div class="fields">
						<div class="region size-golden-short reset-left">
							<p><img src="http://placehold.it/231x288" alt="fpo"></p>
						</div>

						<div class="region size-golden-long reset-right">
							<h2>Summary Headline</h2>
							<p>There are, of course, the Opus Collections, which focus on artists who’ve created momentous bodies of work. Your Peggy Lee. Your John Coltrane. Your John Lennon. Finally, there are compilations created to complement a mood or moment in time – perhaps a 4th of July patio party.</p>

							<div class="promo">
								<h3 class="heading_promo">Find a Store</h3>
								<form method="get" action="#fpo">
									<fieldset>
										<input title="City, State or Zip" class="search_input" name="searchbox">

										<span class="button button_search">
											<button type="submit" name="go" value="locations">Find</button>
										</span>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fields">
				<div class="region size1of1">
					<ol class="blocks blocks-three-up section_blocks">
						<li>
							<dl>
								<dt>
									<a href="#fpo">Drinking</a>
								</dt>
								<dd class="image">
									<img src="http://placehold.it/304x144" alt="fpo">
								</dd>
								<dd>
									<p>I like to drink lots and lots of coffee each day. It keeps me on my toes!</p>
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>
									<a href="#fpo">Roasting</a>
								</dt>
								<dd class="image">
									<img src="http://placehold.it/304x144" alt="fpo">
								</dd>
								<dd>
									<p>The Starbucks Roast® is more than a color – it’s a philosophy of helping each bean reach its maximum <a href="#fpo">potential</a>.</p>
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>
									<a href="#fpo">Sourcing</a>
								</dt>
								<dd class="image">
									<img src="http://placehold.it/304x144" alt="fpo">
								</dd>
								<dd>
									<p>It takes a special bean to become a Starbucks® coffee.</p>
								</dd>
							</dl>
						</li>
					</ol>
				</div>
			</div>

			<div class="fields">
				<div class="region size2of3">
					<h3>This is a title</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

				<div class="region size1of3">
					<div class="promo">
						<h3 class="heading_promo">Got a Great Idea?</h3>
						<a href="#fpo"><img alt="fpo" src="http://placehold.it/144x96"></a>
						<p>We want it! Share your ideas and see what other people are suggesting at <a href="#fpo">My Starbucks Idea</a>.</p>
					</div>

					<div class="promo">
						<h3 class="heading_promo">5th of July Cleanup</h3>
						<a href="#fpo"><img alt="fpo" src="http://placehold.it/304x96"></a>
						<p>Feel like volunteering? We could use your help cleaning up around Lake Union after the big fireworks show. <a href="#fpo">Sign up now</a>.</p>
					</div>
				</div>
			</div>

			<div class="fields">
				<div class="region size2of3 suffix1of3">
					<div id="blog-100" class="blog-entry">
						<h2><a href="#fpo">Blog Post Title</a></h2>
						<p class="meta postdate">Wednesday, December 08, 2010</p>
						<p class="meta byline">Posted by John Doe, title</p>

						<p><img alt="fpo" src="http://placehold.it/625x240"></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

						<input type="hidden" id="BlogPostID" name="BlogPostID" value="100">
						<p class="more"><a href="#fpo">Read full story &gt;</a></p>

						<ul>
							<li class="social">
								<div class="social_icons"><!-- Share icons go here --></div>
							</li>
							<li class="comment-num">
								<a href="#fpo"><span class="comment-count">123</span> Comments</a>
							</li>
						</ul>
					</div>

					<p><a href="#fpo">See other posts &gt;</a></p>
				</div>
			</div>
		</div>

</body>
</html>
